<h1>Friends</h1>
<%@u = current_user%>    
       <%@pending = @u.pending_invitations%>

      <div class = "d-flex flex-wrap ">
<%@user.each do |a|%>

               <%ab = Invitation.where(friend_id: current_user.id,user_id: a.id) %>
          <%if @pending.include?(ab[0])%>
                  <%next%>
           <%else%>
                   <%if a.id != current_user.id%>
                                    <%inv = Invitation.where(user_id: current_user.id,friend_id: a.id) %>
                                            <%if inv.empty?%>
                                            <%inv = Invitation.where(friend_id: current_user.id,user_id: a.id) %>
                                          <%end%>        
              <% if current_user.friend_with?(a)%>


                                        <div class="card" style="width: 16rem;margin-right: 30px;margin-bottom: 30px;">
                      
                      <%if a.image.attached?%>
                     <%= image_tag a.image,width: "30px",class:"card-img-top",style:"height: 16rem;"%> 
                     <%end%>
                            <div class="card-body">
                              <h5 class="card-title"><%=a.fname%> <%=a.lname%> </h5>
                              <p class="card-text">Email: <%=a.email%></p>
                            </div>
                          
                            <div class="card-body">
                              <%=link_to "unfriend","/invitations/#{inv.ids[0]}", class: "btn btn-danger",data: {"turbo-method": :delete}%>
                            
                            </div>
                          </div>
              <%end%>
        <%end%>

  <%end%>
  <%end%>
</div>

