<p style="color: green"><%= notice %></p>

<%= render @post %>

<%=@post.likes.count%> likes
<%like = current_user.likes.find_by(post: @post)%>
<%if like.nil?%>

  <%=button_to "Like", likes_path,params:{like:{post_id: @post.id}},method: :post%>


<%else%>
 <%=button_to "Unike", like_path(like),data: {
 "turbo-method": :delete
},method: :delete%>

<%end%>
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>


<%= render @post.comments%>
<h5>Add a comment</h5>
<%= render partial: "comments/form"%>
